n8n_dashboard_login_workflow.json
{
  "meta": {
    "instanceId": "ilgin-insani-secure-auth"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-login",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "18f5d050-dfc7-45bf-ad21-d703130d297a",
      "name": "Webhook (Giriş İsteği)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.password }}",
              "value2": "ilgin42"
            }
          ]
        }
      },
      "id": "e6a71cb0-c2d7-4638-a534-ff424eefb7e1",
      "name": "Şifre Doğru mu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Giriş başarılı!\"\n}",
        "options": {}
      },
      "id": "bc3cfd42-ef12-4ee4-bf74-2bc5527a29e8",
      "name": "Başarılı Yanıt",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Hatalı admin şifresi!\"\n}",
        "options": {}
      },
      "id": "cf6c4293-86ef-466d-965a-dfd7967b5e40",
      "name": "Hatalı Yanıt",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        400
      ]
    }
  ],
  "connections": {
    "Webhook (Giriş İsteği)": {
      "main": [
        [
          {
            "node": "Şifre Doğru mu?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Şifre Doğru mu?": {
      "main": [
        [
          {
            "node": "Başarılı Yanıt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hatalı Yanıt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
